.filter {
    &-popup {
        // width: 60%;
        @media (max-width: 1024px) {
            width: 100%;
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    &-button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    &-title {
        margin-bottom: 10px;
    }
    
    input {
        cursor: pointer;
    }
} 

