.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F4F5F6;
    width: 100%;
    padding: 50px;
    margin: auto;
    
    &-left {
        display: flex;
        flex-direction: column;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.insta {
    margin-left: 10px;
}

.twit {
    margin-left: 10px;
}

.linkd {
    margin-left: 10px;
}
.terms {
        font-family: Rubik;        
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-align: right;

}


