.footer {
    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        flex-direction: column;
    }

    &-right {
        display: flex;
        justify-content: space-between;
    }
    .terms {
        font-family: Rubik;        
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-align: right;

    }
}


