.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F4F5F6;
    width: 100%;
    padding: 20px 50px 10px;
    margin-top: 50px; 
    
    &-left {
        display: flex;
        flex-direction: column;
    }

    &-right {
        margin-bottom: 0;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.insta {
    margin-left: 10px;
}

.twit {
    margin-left: 10px;
}

.linkd {
    margin-left: 10px;
}
.terms {
    font-family: Rubik;        
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: right;
 }
