@import '../variables';

.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 645px) {
      flex-direction: column;
    }

    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }

  }

  &__logo {
    display: flex;
    margin-bottom: 20px;

    img {
      margin-right: 15px;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }
}
